/* 头尾各个页面相同模块重复样式 */
.wrapper{
	margin: 0 auto;
	width: 1240px;
}

/* 快捷导航 */
.shortcut{
	height: 52px;
	background-color: #333;
}

.shortcut .wrapper{
	display: flex;
	justify-content: flex-end;
	height: 52px;
}

.shortcut ul{
	display: flex;
	line-height: 52px;
}

.shortcut li a{
	padding: 0 15px;
	border-right: 2px solid #999;
	font-size: 14px;
	color: #fff;
}

.shortcut li:last-child a{
	border-right: none;
}

.shortcut li .iconfont{
	margin-right: 4px;
	vertical-align: middle;
}

.shortcut li .login{
	color: #437a4b;
}

/* 头部区域 */
.header{
	display: flex; 
	height: 88px;
	margin-top: 22px;
	margin-bottom: 22px;
}

/* logo */
.logo{
	width: 200px;
	height: 88px;
	margin-right: 40px;
}

.logo a{
	display: block;
	width: 200px;
	height: 88px;
	background-image: url(../images/logo.png);
	font-size: 0;
}

/* nav*/
.nav{
	margin-top: 33px;
	margin-right: 28px;
}

.nav ul{
	display: flex;
}

.nav ul li{
	margin-right: 47px;
}

.nav li a{
	padding-bottom: 10px;
}

.nav li a:hover{
	border-bottom: 2px solid #5eb69c;
	color: #5eb69c;
}

/* 搜索 */
.search{
	display: flex;
	margin-top: 33px;
	margin-right: 45px;
	width: 170px;
	height: 34px;
	border: 2px solid #f4f4f4;
}
.search .iconfont{
	color: #ccc;
	font-size: 18px;
	margin-right: 8px;
	margin-top: 2px;
	margin-left: 2px;
}

.search input{
	flex: 1;
	/* 浏览器优先生效input默认宽度 ，flex不生效*/
	/* 重置input默认宽度 */
	width: 0;
}

.search input::placeholder{
	font-size: 16px;
	color: #ccc;
}

/* 购物车 */
.cart{
	position: relative;
	margin-top: 24px;
}

.cart .iconfont{
	font-size: 30px;
}

.cart i{
	position: absolute;
	top: 1px;
	left: 14px;
	padding: 0 6px;
	height: 15px;
	background-color: #e26237;
	font-size: 12px;
	color: white;
	line-height: 15px;
	border-radius: 8px;
}

/* 底部 */
.footer{
	height: 580px;
	background-color: #f5f5f5;
}

/* 服务 */
.service{
	height: 178px;
	border-bottom: 1px solid #e8e8e8;
	padding: 60px 0;
}

.service ul{
	display: flex;
	justify-content: space-evenly;
}

.service li{
	display: flex;
	width: 190px;
	height: 58px;
}

.service li h5{
	width: 58px;
	height: 58px;
	margin-right: 20px;
	background-image: url(../images/sprite.png);
}

.service li p{
	font-size: 28px;
	line-height: 58px;
}

.service li:nth-child(2) h5{
	background-position: 0 -58px;
}

.service li:nth-child(3) h5{
	background-position: 0 -116px;
}

.service li:nth-child(4) h5{
	background-position: 0 -174px;
}

/* 帮助中心 */
.help{
	height: 300px;
	display: flex;
	justify-content: space-between;
	padding-top: 60px;
}

.help .left{
	display: flex;
}

.help .left dl{
	margin-right: 84px;
}

.help .left dl:last-child{
	margin-right: 0;
}

.help .left dt{
	font-size: 18px;
	margin-bottom: 30px;
}

.help .left dd{
	margin-bottom: 10px;
}

.help .left a{
	color: #999;
}

.help .left .iconfont{
	color: #5eb69c;
}

.help .right ul{
	display: flex;
}

.help .right li:first-child{
	margin-right: 55px;
}

.help .right .pic{
	width: 120px;
	height: 120px;
	margin-bottom: 10px;
}

.help .right ul li p{
	text-align: center;
	color: #999;
}

/* 版权 */
.sheep{
	text-align: center;
}

.sheep p{
	margin-bottom: 10px;
	color: #999;
}

.sheep a{
	color: #999;
	margin: 0 10px;
}